<!DOCTYPE html>
<html>
  <head>

    <title>Dashboard Template for Bootstrap</title>

    <link rel="stylesheet" href="bower_components/nvd3/nv.d3.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/stylesheets/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/stylesheets/ie-emulation-modes-warning.js"></script>

  </head>
  <body ng-app="MyApp">
    <!-- <h1><%= title %></h1> -->
    

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
          &nbsp;
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <p align="center"><img src="css/logosimple.png" /><br /><br /></p>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#"><img src="/stylesheets/tracking.png">&nbsp;&nbsp;&nbsp;&nbsp;Tracking</a></li>
            <li><a href="#"><img src="/stylesheets/archives.png">&nbsp;&nbsp;&nbsp;&nbsp;Archives</a></li>
            <li><a href="#"><img src="/stylesheets/score.png">&nbsp;&nbsp;&nbsp;&nbsp;Scoreboard</a></li>
            <li><a href="#"><img src="/stylesheets/help.png">&nbsp;&nbsp;&nbsp;&nbsp;Help</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Posture Tracking</h1>

          <h2 class="sub-header">Profile</h2>
          <div class="row placeholders">
            <div class="col-sm-6 placeholder">
              <h4 style="text-align:left;">Name</h4>
              <p style="text-align:left;">Me Gusta</p>
              <h4 style="text-align:left;">Birthday</h4>
              <p style="text-align:left;">1985-04-03</p>
              <h4 style="text-align:left;">Member since</h4>
              <p style="text-align:left;">2014-09-27</p>
              <h4 style="text-align:left;">Overall Performance</h4>
              <p style="text-align:left;">78.4% good posture</p>
            </div>
            <div class="col-sm-6 placeholder">
              <h4 style="text-align:left;">Spine View</h4>
              <div style="text-align:left;">
                <div ng-view=""></div>
              </div>
            </div>
          </div>

          <h2 class="sub-header">Timeline</h2>
          <div class="row placeholders">
            <div class="col-sm-12 placeholder">
              <h4 style="text-align:left;">Today</h4>
              <p style="text-align:left;">Placeholder</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Scritps -->
    <script type="text/javascript" src="bower_components/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/d3/d3.js"></script>
    <script type="text/javascript" src="bower_components/nvd3/nv.d3.js"></script>
    <script type="text/javascript" src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <script type="text/javascript" src="bower_components/angular-socket-io/socket.min.js"></script>
    <script type="text/javascript" src="lib/javascripts/three.min.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
    <!-- END Scritps -->
  </body>
</html>