<div class="site-wrapper" >

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <!--
          <h3 class="masthead-brand">Cover</h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="http://getbootstrap.com/examples/cover/#">Home</a></li>
            <li><a href="http://getbootstrap.com/examples/cover/#">Features</a></li>
            <li><a href="http://getbootstrap.com/examples/cover/#">Contact</a></li>
          </ul>
          -->
        </div>
      </div>

      <div class="inner cover center">
        <h1 class="cover-heading" class="center"><img src="stylesheets/logo.png" /><br /><br /></h1>
        
        <p style="color:#1175ff; font-size:34px;">Preventing back injuries through innovation<br /><br /></p>
        
        <p class="lead">
          <p align="center"><input type="email" style="width:300px; border: solid #117ef9 1px;" class="form-control" placeholder="Email address" required autofocus></p>
          <p align="center"><input type="password" style="width:300px; border: solid #117ef9 1px;" class="form-control" placeholder="Password" required></p>
          <p align="center"><a href="#" class="button_example" style="width:300px">Login</a></p>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <!--<p>Cover template for <a href="http://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>-->
        </div>
      </div>

    </div>

  </div>

    </div>