<p>Hello, this is a partial</p>
<p>
  <b>From:</b> {{ data.source }} <br />
  <ul>
    <li class="sensor" ng-repeat="accel in data.payload.accels track by $index">
      x:{{ accel.x }} <br />
      y:{{ accel.y }} <br />
      z:{{ accel.z }}
    </li>
  </ul>
</p>
<model accela="data.payload.accels[0]" 
  accelb="data.payload.accels[1]" 
  accelc="data.payload.accels[2]"
  acceld="data.payload.accels[3]">
</model>



<script>
//       //create de scene
//       var scene = new THREE.Scene();
//       var camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000);

//       var renderer = new THREE.WebGLRenderer();
//       renderer.setSize(window.innerWidth, window.innerHeight);
//       document.body.appendChild(renderer.domElement);

//       //************************************************************
//       //  Define colors
//       //************************************************************
//       var material_axis = new THREE.LineBasicMaterial({
//         color: 0xFFFFFF
//       });
//       var material_sensor1 = new THREE.LineBasicMaterial({
//         color: 0x0066FF
//       });
//       var material_sensor2 = new THREE.LineBasicMaterial({
//         color: 0x00FF00
//       });
//       var material_sensor3 = new THREE.LineBasicMaterial({
//         color: 0x0000FF
//       });
//       var material_sensor4 = new THREE.LineBasicMaterial({
//         color: 0xFF0000 
//       });
//       //****************************** End: Define Colors


//       //************************************************************
//       //  Define geometries
//       //************************************************************
//       var geometry_axis = new THREE.Geometry();
//       var geometry_sensor1 = new THREE.Geometry();
//       var geometry_sensor2 = new THREE.Geometry();
//       var geometry_sensor3 = new THREE.Geometry();
//       var geometry_sensor4 = new THREE.Geometry();
      
//       //Axis
//       geometry_axis.vertices.push(
//         new THREE.Vector3( 0.0, 0.0, 0.0 ),
//         new THREE.Vector3( 0.0, 0.0, 2.0 )
//       );
//       geometry_axis.vertices.push(
//         new THREE.Vector3( 0.0, 0.0, 0.0 )
//         ,new THREE.Vector3( 0.0, 2.0, 0.0 )
//       );
//       geometry_axis.vertices.push(
//         new THREE.Vector3( 0.0, 0.0, 0.0 )
//         ,new THREE.Vector3( 2.0, 0.0, 0.0 )
//       );

//       //Sensor 1
//       geometry_sensor1.vertices.push(
//         new THREE.Vector3( 0.0, 0.0, 0.0 ),
//         new THREE.Vector3( 0.2, 0.5, 0.2 )
//       );

//       //Sensor 2
//       geometry_sensor2.vertices.push(
//         new THREE.Vector3( 0.0, 0.5, 0.2 ),
//         new THREE.Vector3( 0.3, 0.9, 0.3 )
//       );

//       //Sensor 3
//       geometry_sensor3.vertices.push(
//         new THREE.Vector3( 0.3, 0.9, 0.3 ),
//         new THREE.Vector3( 0.4, 1.4, 0.4 )
//       );

//       //Sensor 4
//       geometry_sensor4.vertices.push(
//         new THREE.Vector3( 0.4, 1.4, 0.4 ),
//         new THREE.Vector3( 0.5, 2.1, 0.5 )
//       );
//       //****************************** End: Define geometries


//       //************************************************************
//       //  Rendering
//       //************************************************************
//       var line_axis = new THREE.Line( geometry_axis, material_axis );
//       var line_sensor1 = new THREE.Line( geometry_sensor1, material_sensor1 );
//       var line_sensor2 = new THREE.Line( geometry_sensor2, material_sensor2 );
//       var line_sensor3 = new THREE.Line( geometry_sensor3, material_sensor3 );
//       var line_sensor4 = new THREE.Line( geometry_sensor4, material_sensor4 );

//       scene.add( line_axis );
//       scene.add( line_sensor1 );
//       scene.add( line_sensor2 );
//       scene.add( line_sensor3 );
//       scene.add( line_sensor4 );

//       camera.position.z = 5;
      
//       //Add camera tilt
//       line_axis.rotation.x = 0.5;
//       line_sensor1.rotation.x = 0.5;
//       line_sensor2.rotation.x = 0.5;
//       line_sensor3.rotation.x = 0.5;
//       line_sensor4.rotation.x = 0.5;

//       //render the scene
//       var render = function () {
//         requestAnimationFrame(render);

//         //Add rotation
//         line_axis.rotation.y += 0.01;
//         line_sensor1.rotation.y += 0.01;
//         line_sensor2.rotation.y += 0.01;
//         line_sensor3.rotation.y += 0.01;
//         line_sensor4.rotation.y += 0.01;

//         renderer.render(scene, camera);
//       };
//       render();
//       //****************************** End: Rendering
</script>